%h1 iTunes Store bookmarker
%br
= render "form"
%ul#myTab.nav.nav-tabs
  %li=link_to "Search results", "#tab1", "data-toggle" => "tab"
  %li=link_to "Favorites", "#tab2", "data-toggle" => "tab"
%div#myTabContent.tab-content
  %div#tab1.tab-pane.fade
    %table
      %thead
        %th{style: "width: 10%"}
        %th.name Song Name
        %th.album Album
        %th.artist Artist
        %th.fav Add to favorites
      %tbody#search_results
  %div#tab2.tab-pane.fade
    %table
      %thead
        %th{style: "width: 10%"}
        %th.name Song Name
        %th.album Album
        %th.artist Artist
        %th.fav Add to favorites
      %tbody#faves
