#myTabContent.tab-content
  #tab1.tab-pane.active
    #search_results
      %li
        .ui360
          %a{:href => "http://a5.mzstatic.com/us/r1000/097/Music/e7/1f/0a/mzm.ggygkffv.aac.p.m4a"} play
        %div
          Tu silencio
      %li
        .ui360
          %a{:href => "http://a3.mzstatic.com/us/r1000/087/Music/eb/ec/69/mzm.itdhsaqm.aac.p.m4a"} play
        %div
          Con mis manos
      %li
        .ui360
          %a{:href => "http://a4.mzstatic.com/us/r1000/072/Music/c9/27/79/mzm.tqnqpcfr.aac.p.m4a"} play
        %div
          Malo
      %li
        .ui360
          %a{:href => "http://a3.mzstatic.com/us/r1000/114/Music/d3/21/ff/mzm.zrjvjhqw.aac.p.m4a"} play
        %div
          Siempre me quedará
      %li
        .ui360
          %a{:href => "http://a3.mzstatic.com/us/r1000/113/Music/b8/4a/0b/mzm.qkppgwjb.aac.p.m4a"} play
        %div
          Ella
      %li
        .ui360
          %a{:href => "http://a5.mzstatic.com/us/r1000/088/Music/fc/dc/f0/mzm.vwlzayxc.aac.p.m4a"} play
        %div
          Men señará
      %li
        .ui360
          %a{:href => "http://a3.mzstatic.com/us/r1000/095/Music/ef/40/0a/mzm.qmdupfzu.aac.p.m4a"} play
        %div
          Cuidándote
      %li
        .ui360
          %a{:href => "http://a4.mzstatic.com/us/r1000/060/Music/dc/ec/db/mzm.ttohngwn.aac.p.m4a"} play
        %div
          Razones (A capella)
      %li
        .ui360
          %a{:href => "http://a5.mzstatic.com/us/r1000/083/Music/56/2c/b1/mzm.ysmkvkuz.aac.p.m4a"} play
        %div
          Que nadie me levante la voz
      %li
        .ui360
          %a{:href => "http://a4.mzstatic.com/us/r1000/097/Music/d0/bb/84/mzm.iidumvyp.aac.p.m4a"} play
        %div
          Revolvió
      %li
        .ui360
          %a{:href => "http://a3.mzstatic.com/us/r1000/068/Music/d5/8f/80/mzm.iiypmgxc.aac.p.m4a"} play
        %div
          Corre
      %li
        .ui360
          %a{:href => "http://a1.mzstatic.com/us/r1000/114/Music/bb/6e/46/mzm.rqkcgoxf.aac.p.m4a"} play
        %div
          El golpe
      %li
        .ui360
          %a{:href => "http://a5.mzstatic.com/us/r1000/090/Music/6e/6f/b0/mzm.fcfgwnra.aac.p.m4a"} play
        %div
          Ska de la tierra
      %li
        .ui360
          %a{:href => "http://a4.mzstatic.com/us/r1000/116/Music/6b/28/58/mzm.exzyathq.aac.p.m4a"} play
        %div
          Como los olivos
      %li
        .ui360
          %a{:href => "http://a1.mzstatic.com/us/r1000/114/Music/d3/5d/c0/mzm.nakbkflu.aac.p.m4a"} play
        %div
          Siete horas
      %li
        .ui360
          %a{:href => "http://a5.mzstatic.com/us/r1000/112/Music/6e/be/fb/mzm.dkzdlokq.aac.p.m4a"} play
        %div
          Me Fui
      %li
        .ui360
          %a{:href => "http://a5.mzstatic.com/us/r1000/106/Music/6e/56/49/mzm.vepylwvr.aac.p.m4a"} play
        %div
          Se Fue
      %li
        .ui360
          %a{:href => "http://a2.mzstatic.com/us/r1000/085/Music/53/9b/cb/mzm.jqadltgj.aac.p.m4a"} play
        %div
          La Bicha
      %li
        .ui360
          %a{:href => "http://a5.mzstatic.com/us/r1000/087/Music/be/69/24/mzm.unnkvqxa.aac.p.m4a"} play
        %div
          Cuanto+me Sujetas
      %li
        .ui360
          %a{:href => "http://a5.mzstatic.com/us/r1000/062/Music/c5/2c/d1/mzm.ylsdrcut.aac.p.m4a"} play
        %div
          Busco-me
      %li
        .ui360
          %a{:href => "http://a3.mzstatic.com/us/r1000/075/Music/a9/8f/68/mzm.jtqxfysx.aac.p.m4a"} play
        %div
          Pa Mi Casa
      %li
        .ui360
          %a{:href => "http://a5.mzstatic.com/us/r1000/099/Music/4d/4d/aa/mzm.irxlcdhf.aac.p.m4a"} play
        %div
          Sinsentido
      %li
        .ui360
          %a{:href => "http://a2.mzstatic.com/us/r1000/078/Music/e4/df/a7/mzm.kntxanti.aac.p.m4a"} play
        %div
          No+llorá
      %li
        .ui360
          %a{:href => "http://a2.mzstatic.com/us/r1000/060/Music/f3/14/87/mzm.yefqojui.aac.p.m4a"} play
        %div
          Uh,Uh,Uh,Uh,Uh
      %li
        .ui360
          %a{:href => "http://a5.mzstatic.com/us/r1000/102/Music/34/98/3b/mzm.tlgwheyv.aac.p.m4a"} play
        %div
          Escuece
  #tab2.tab-pane.fade
    %ul#faves
      %li fire
      %li earth
      %li air
      %li water